* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #62866e;
}
header h1 {
  color: #d6f5d0;
}
.container {
  margin: 10px 30px;
}
.container > .btn-wrapper {
  display: flex;
  justify-content: start;
  margin: 20px 0px;
}

.container > .btn-wrapper #btn-add-list {
  padding: 10px 50px;
  margin: 0px 10px;
  background-color: rgb(243, 174, 72);
  border: none;
  box-shadow: 2px 8px 8px -9px black;
  color: white;
  font-size: 18px;
  border-radius: 3px;
}
.container > .btn-wrapper > #btn-add-list:hover {
  transition: all 0.6s;
  transform: translate(-0.3%);
  background-color: rgb(122, 94, 51);
}
.main-section {
  width: 100%;
  min-height: 400px;
  background-color: #62866e;
  display: flex;
  justify-content: start;
}
.main-section .card {
  width: 200px;
  height: 200px;
  background-color: #e9f0eb;
  transition: ease 0.6s;

  margin: 10px 10px;
}
.main-section .card div {
  background-color: rgb(20, 99, 99);
  margin: 2px;
  text-align: center;
  color: #e6f3e3;
  letter-spacing: 4px;
  padding: 4px;
}
